*{
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container-fluid {
        padding: 10px;
    }

    .row {
        display: flex;
        justify-content: flex-end;
    }

 

    .box1{
        height:305px;
        width:500px;
        background-color: #ffff00;
        border: 4px dashed #ff0000;
        margin: 85px 95px 100px 100px;
    }

    .box2{
        height:610px;
        width:600px;
        background-color: #ffff00;
        border: 4px dashed #ff0000;
        margin: 85px 100px 100px 95px;
    }


    .card-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   button{
       height:29px;
       width:420px;
       background-color: #ff00ff;
       border-radius:8px;
   }
    
    button:hover {
        color:#ffffff;
        background-color: #0000ff;
    }

    .form-label {
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    .form-control {
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 2px solid #170f41;
        margin-bottom: 15px;
        width: 100%;
        max-width: 400px;
    }


    .fs-3 {
        font-size: 1.75rem;
    }

}