*{
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .container-fluid {
        padding: 20px;
    }

    .row

    .my-card {
        box-shadow: 0 0 10px 1px rgb(35, 163, 142);
        border-radius: 8px;
        background-color: #f9f8f9;
    }

    .card-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-label {
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    .form-control {
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #170f41;
        margin-bottom: 15px;
        width: 100%;
        max-width: 400px;
    }

    .form-control:focus {
        border-color: #385e88;
        box-shadow: 0 0 5px rgba(202, 115, 115, 0.3);
    }

    .fs-3 {
        font-size: 1.75rem;
    }

    button {
        color:#000000;
        background-color: #00ff00;
        height:30px;
        width:90px;
        position:sticky;

    }
    
    button:hover {
        color:#ffffff;
        background-color: #ff0000;
    }
}

